<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="customerSave" instance="Luxury\LuxuryTax\Observer\CustomerSaveAfter"/>
    </event>
<!--    <event name="checkout_onepage_controller_success_action">-->
<!--        <observer name="checkout_controller_success_action"-->
<!--                  instance="Luxury\LuxuryTax\Observer\AfterPlaceOrder"/>-->
<!--    </event>-->
</config>
