<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/adminhtml/menu.xsd">
    <menu>
        <add id="Luxury_LuxuryTax::luxury" title="Luxury Tax"
             module="Luxury_LuxuryTax" resource="Luxury_LuxuryTax::luxury" parent="Magento_Tax::sales_tax"
             translate="title" sortOrder="900" action="luxury"/>
    </menu>
</config>
